body {
    background-color: #999;
    #app{
        width: 80%;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        margin: auto;
        background: #fff;
    }
    .head{
        font-size: 18px;
        text-align: center;
        line-height: 44px;
    }
    .main{
        width: 100%;
        font-size: 18px;
    }
}